img{
    width: 1200px;
    height: 100px;
}
@media (max-width:1500px){
    .imgg{
        width: 1200px;
        height: 100px;
    }
}
@media (max-width:600px){
    .imgg{
        width: 400px;
        height: 100px;
    }
}